{% extends base.html %}

{% block content %}

  {% block banner %}
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Congress 2016</h2>
        <h3>Don't let them fuck it up.</h3>
        <a class="btn btn-primary" href="#">Make My Voice Heard</a>
      </div>
    </div>
  </section>
  {% end %}

  {% block contactlist %}
    <section class="container">
      <h1 align="center">Contact Lists</h1>
      <table class='table sortable'>
        <thead>
          <tr>
            <th>Name</th>
            {% for colname in ['State', 'District', 'Phone', 'Position', 'Party', 'Term End'] %}
              <th>{{ colname }}</th>
            {% end %}
          </tr>
        </thead>
        <tbody>
          {% for moc in data %}
            <tr>
              <td>{{ moc['name']['official_full'] }}</td>
              {% for key in ['state', 'district', 'phone', 'type', 'party', 'end'] %}
                <td>
                  {% if (key == 'district') and (moc['terms'][-1]['type'] == 'sen') %}
                  {% else %}
                    {{ escape(str(moc['terms'][-1][key])) }}
                  {% end %}
                </td>
              {% end %}
            </tr>
          {% end %}
        </tbody>
      </table>
    </section>
  {% end %}

{% end %}
