{% extends base.html %}

{% block content %}

  {% block banner %}
  <div class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Congress 2016</h2>
        <h3>Don't let them fuck it up.</h3>
        <a class="btn btn-primary" href="#">Make My Voice Heard</a>
      </div>
    </div>
  </div>
  {% end %}

  {% block contactlist %}
    <div class="container">
      <div class='row'><div class='cols-xs-12'><h1 align="center">Contact Lists</h1></div></div>
      <div class='row'>
        <div class='col-xs-6'>
          <input type='checkbox' class='form-check-input' id='select-house'> Representatives</input>
          <input type='checkbox' class='form-check-input' id='select-senate'> Senators</input>
        </div>
        <div class=col-xs-3>
          <select class='form-control'>
            <option value='all'>--Select a state--</option>
            {% for state in state_list %}
              <option value={{ state }}>{{ state }}</option>
            {% end %}
          </select>
        </div>
        <div class=col-xs-3>
          <select class='form-control'>
            <option value='all'>--Select a committee--</option>
            <option value='appropriations'>Appropriations</option>
            <option value='science'>Science</option>
          </select>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12'>
          <table class='table sortable'>
            <thead>
              <tr>
                <th>Name</th>
                {% for colname in ['State', 'District', 'Phone', 'Position', 'Party', 'Term End'] %}
                  <th>{{ colname }}</th>
                {% end %}
              </tr>
            </thead>
            <tbody>
              {% for moc in data %}
                <tr>
                  <td>{{ moc['name']['official_full'] }}</td>
                  {% for key in ['state', 'district', 'phone', 'type', 'party', 'end'] %}
                    <td>
                      {% if (key == 'district') and (moc['terms'][-1]['type'] == 'Senator') %}
                      {% else %}
                        {{ escape(str(moc['terms'][-1][key])) }}
                      {% end %}
                    </td>
                  {% end %}
                </tr>
              {% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% end %}
    <script>
    // code from http://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript
    function sortTable(table, col, reverse) {
        var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
            tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
            i;
        reverse = -((+reverse) || -1);
        tr = tr.sort(function (a, b) { // sort rows
            return reverse // `-1 *` if want opposite order
                * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                    .localeCompare(b.cells[col].textContent.trim())
                   );
        });
        for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
    }

    function makeSortable(table) {
        var th = table.tHead, i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return; // if no `<thead>` then do nothing
        while (--i >= 0) (function (i) {
            var dir = 1;
            th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
        }(i));
    }

    function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'), i = t.length;
        while (--i >= 0) makeSortable(t[i]);
    }

    window.onload = function () {makeAllSortable();};
</script>
{% end %}
